body {
    background-image: url("m.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    height: 800px;
}

#fr {
    width: 350px;
    position: relative;
    padding: 70px;
    margin-left: 170px;
    background-color: rgb(209, 203, 203);
    border-radius: 10%;
}


input {
    width: 350px;
    height: 30px;
    border-radius: 7%;
    border: 20px;
}